.assets
.env
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log

# JoyTrunk
nodejs/node_modules/
nodejs/data/
vue/node_modules/
vue/dist/
cli/joytrunk/ui/node_modules/
cli/joytrunk/gateway/static/
cli/joytrunk/gateway/node_modules/
cli/joytrunk/server/node_modules/
AGENTS.md
deps/
